h1{
  text-align: center;
}

.pai2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.filho1-2{
  width: 180px;
  height: 180px;
  background-color: red;
  margin: 10px; 
}

.filho2-2{
  width: 180px;
  height: 180px;
  background-color: greenyellow;
  margin: 10px;
}

.filho3-2{
  width: 180px;
  height: 180px;
  background-color:aquamarine;
  margin: 10px;
}

.filho4-2{
  width: 180px;
  height: 180px;
  background-color: rgb(203, 47, 255);
  margin: 10px;
  flex-basis: 30%;
  flex-shrink: 3;
}