h1{
  text-align: center;
}

.pai3-1{
  display: flex;
  justify-content: flex-start;
}

.filho1{
  width: 180px;
  height: 180px;
  background-color: red;
  margin: 10px; 
}

.filho2{
  width: 180px;
  height: 180px;
  background-color: greenyellow;
  margin: 10px;
}

.filho3{
  width: 180px;
  height: 180px;
  background-color:aquamarine;
  margin: 10px;
}

.filho4{
  width: 180px;
  height: 180px;
  background-color:rgb(202, 235, 20);
  margin: 10px;
}

.filho5{
  width: 180px;
  height: 180px;
  background-color:aquamarine;
  margin: 10px;
}